In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Read James quarry blast catalogue
j_quarry_catalogue = pd.read_csv('/mnt/REPO/QUARRY-BLASTS/CATALOGS/quarry-blast-catalog-2013-2014.csv', sep = '\s+')
j_quarry_catalogue = j_quarry_catalogue.drop(columns=['LAT-ERR(km)', 'LON-ERR(km)','MAG(ML)'])
catalog_header = list(j_quarry_catalogue)
j_quarry_catalogue.head(3)

,EVENT-ID,DATE,TIME,LAT(deg),LON(deg),DEPTH(km),RMS(s),AZ-GAP(deg),N_PHASES
0,dias2013kwhe,2013-06-04,11:58:42.744,54.38776,-7.38951,0.0,0.408,105.6,50
1,dias2013kwks,2013-06-04,13:45:39.377,52.90088,-9.05663,0.0,0.308,68.8,44
2,dias2013kwle,2013-06-04,14:00:17.523,53.44080,-7.16199,0.0,0.412,87.2,46

In [12]:
#Read Senad's Catalogue of Quarry Blast
bla_column = ['ev','EVENT_ID','DATE','ORIGIN_TIME','LATITUDE','LONGITUDE','DEPTH','RMS(s)','AZGAP(deg)','NUM_OF_PHASE_PICKS(P)','NUM_OF_PHASE_PICKS(S)','quarry','qua_lat','qua_lon','end']
s_quarry_catalogue = pd.read_csv("/mnt/store/senad/repos/for_bruna/QUARRY_BLASTS/ADMIN/quarry.blast.eventlist", delimiter='\s+', names=bla_column)
s_quarry_catalogue = s_quarry_catalogue.drop(columns=['ev', 'quarry', 'end'])
columns_order = [
    'EVENT_ID','DATE','ORIGIN_TIME','LATITUDE',
    'LONGITUDE', 'DEPTH', 'RMS(s)','AZGAP(deg)','NUM_OF_PHASE_PICKS(P)'
    ]
s_quarry_catalogue = s_quarry_catalogue[columns_order]
#now make them match
s_quarry_catalogue.columns = catalog_header
s_quarry_catalogue.head(3)

,EVENT-ID,DATE,TIME,LAT(deg),LON(deg),DEPTH(km),RMS(s),AZ-GAP(deg),N_PHASES
0,Q0001,2013-07-30,10:56:29.9,54.126,-8.226,0.3,0.9,84,9
1,Q0002,2013-09-19,10:26:45.1,52.824,-6.983,0.0,0.8,88,4
2,Q0003,2013-09-19,11:33:40.4,54.419,-6.664,2.7,0.2,139,4

In [5]:
#we can do some comparisons
j_size = j_quarry_catalogue.shape[0]
s_size = s_quarry_catalogue.shape[0]
print("James catalogue has",j_size,"events. Senad's has", s_size)

James catalogue has 1411 events. Senad's has 1113

In [6]:
#let's compare the same events in both catalogues. how many of senads events are in james catalogue?
common_events_j = j_quarry_catalogue[j_quarry_catalogue['EVENT-ID'].isin(s_quarry_catalogue['EVENT-ID'])]
common_events_j.shape[0]

0

In [7]:
#how many of senads events are not in james catalogue?
uncommon_events_s = s_quarry_catalogue[~s_quarry_catalogue['EVENT-ID'].isin(j_quarry_catalogue['EVENT-ID'])]
uncommon_events_s.shape[0]

1113

In [8]:
#how many of james events are not in senads catalogue?
uncommon_events_j = j_quarry_catalogue[~j_quarry_catalogue['EVENT-ID'].isin(s_quarry_catalogue['EVENT-ID'])]
uncommon_events_j.shape[0]

1411

In [11]:
#let's compare the same events in both catalogues. how many of senads events are in james catalogue?
#common_events_eq = j_quarry_catalogue[j_quarry_catalogue['EVENT-ID'].isin(seq_quarry_catalogue['EVENT_ID'])]
common_events_eq = s_quarry_catalogue[s_quarry_catalogue['EVENT-ID'].isin(seq_quarry_catalogue['EVENT_ID'])]
uncommon_events_eq = s_quarry_catalogue[~s_quarry_catalogue['EVENT-ID'].isin(seq_quarry_catalogue['EVENT_ID'])]
uncommon_events_eq2 = seq_quarry_catalogue[~seq_quarry_catalogue['EVENT_ID'].isin(s_quarry_catalogue['EVENT-ID'])]
uncommon_events_eq2.head(3)
#->>>> ASK SENAD: the eq catalogue has all the events from the qb catalogue, plus more. so what is what?

,EVENT,EVENT_ID,DATE,ORIGIN_TIME,LATITUDE,LAT_ERROR,LONGITUDE,LON_ERROR,DEPTH,DEP_ERROR,RMS(s),AZGAP(deg),MAG,NUM_OF_PHASE_PICKS,END
0,EVENT,dias2010amlq,2010-01-07,19:30:09.740,55.14667,9.970,-7.64083,9.970,0.0,10.6,0.66,209.0,1.77,8,END
1,EVENT,dias2010bvgt,2010-01-26,20:47:47.060,55.15467,9.829,-7.65383,9.829,0.0,10.0,0.67,213.0,1.52,6,END
2,EVENT,dias2010bwcq,2010-01-27,07:51:17.890,55.11100,32.880,-7.64067,32.880,0.0,40.1,0.98,197.0,1.81,6,END